.date {
  color: #efefef6b;
    font-weight: bolder;
    font-size: 0.5rem;
}

.message {
      color: #00415d;
    font-size: 1.3rem;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #00415d42;
    margin-bottom: 20px;
}