.logo {
 height: 100px;
}

.list {
list-style-type: none
}

.emoji {

  opacity: 1;
width: 35px;
    height: 35px;
    padding: 0px 10px 0 0;
    filter: drop-shadow(2px 4px 6px #00000030);
     transition: all 3s ease;
}

.emojiFaded {
   transition: all 3s ease;
  opacity: 0.3;
}

.username {

    font-size: 1.5rem;
    text-shadow: 1px 1px 2px #00000038;
    color: #fdd622;
    font-weight: 800;
}

.dead {
  @extend .username;
  opacity: 0.3;
}