  .drop-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex: 1;
    gap: 8px;
  }
  
  .example-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  
  .drop-containers {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    flex: 1;
  }
  
  .toolbar {
    height: 30px;
  }
  
  .grid-wrapper {
    flex: 1;
  }
  
  .drop-col {
    padding-left: 10px;
    box-sizing: border-box;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
  }
  
  .drop-target,
  .tile {
    color: black;
  }
  
  .drop-target {
    border: 1px solid rgba(0,0,0,0.87);
    background-color: #5050505e;;
    padding: 10px;
  }
  
  div[class^="team"] {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.87);
    background-color: #5050505e;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: column;
  }
  
  .tile {
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: white;
  }
  
  .green-row {
    background-color: #ddffdd !important;
  }
  
  .red-row {
    background-color: #ffdddd !important;
  }
  
  .blue-row {
    background-color: #ddddff !important;
  }
  
  